*, *::after, *::before {
  box-sizing: border-box;

}

:root {
  --gra-a: linear-gradient(to right, #485563, #29323c);
  --gra-b: linear-gradient(to right, #414346, #242525);

  --fonts: apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

* {
  /* background-color: rgba(92, 35, 35, 0.459); */
}


body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: var(--fonts);
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(104, 102, 102); */
  background: var(--gra-b);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: rgba(255, 255, 255, 0.637);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea {
  font-family: var(--fonts);
}

.mobileIcon {
  display: none;
  color: white;
  font-size: 2rem;
  padding: 1rem;
}

#Navbar {
  height: 3rem;
  padding-top: .1px;
  font-weight: 500;
  background: rgb(109, 40, 40);
  font-size: 1.4rem;
}

#desktopNavbar {
  display: flex;
  justify-content: center;
}

#NavbarImg {
  height: 3rem;
  margin-top: 2rem;
}

#Navbar ul {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  transform: translateY(-3rem);
}

#Navbar ul li {
  /* display: inline; */
  color: white;
  padding: 2rem;
}

#featuredImage {
  padding-top: .1px;
}

#featuredImage img {
  position: absolute;
  width: 100%;
  max-height: 30rem;
  left: 0;
  object-fit: cover;
  z-index: -1;
}

#featuredText {
  color: rgb(255, 255, 255);
  padding-top: 1rem;
  margin-top: 5rem;
  /* background-color: rgba(39, 36, 36, 0.473); */
}

#featuredText h1 {
  text-decoration: underline gray;
}

.textGray {
  color: rgb(155, 146, 146);
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(2, 40rem);
  /* grid-template-rows: minmax(5rem, auto); */
  padding-top: 5rem;
  gap: 1rem;
  font-size: 3rem;
  justify-content: center;
}

.productsContainer div {
  background-color: rgb(88, 39, 39);
  height: 20rem;
  /* width: 40rem; */
  cursor: pointer;
  box-shadow: 0 5px 10px 0 black;
}

.productsContainer img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}

.productsTitle {
  position: absolute;
  width: 30rem;
  background-color: rgba(37, 37, 37, 0.555);
  color: rgb(189, 192, 186);
  font-size: .8em;
  text-align: right;
}

.productsText {
  position: absolute;
  margin-top: 5.3rem;
  margin-left: 3rem;
  text-align: left;
  width: max-content;
  background-color: rgba(37, 37, 37, 0.555);
  color: rgb(189, 192, 186);
  font-size: .5em;
  transition: all .3s ease;
}

#featured {
  background: var(--gra-a);
  cursor: auto;
}

#featured h1 {
  text-decoration: underline 3px rgb(31, 30, 30);
}

#featured p {
  transform: translateY(-5rem);
  font-size: 1rem;
  font-style: italic;
}

.productsContainer div:active {}

.productsContainer div:hover .productsText {
  margin-left: 7rem;
  transition: all .5s ease;
}

.spanTwo {
  grid-column: span 2;
}

.banner {
  margin-top: 3rem;
  height: 300px;
  text-align: left;
}


#bannerImg {
  position: absolute;
  left: 0;
  height: 300px;
  object-fit: fill;
  width: 100vw;
  z-index: -1;
  background: var(--gra-a);
}

#bannerImg-2 {
  /* position: absolute;
  height: 600px;
  width: 400px;
  object-fit: scale-down;
  filter: hue-rotate(30deg);
  box-shadow: 5px 0 0 5px rgb(145, 14, 4); */

  height: 600px;
  box-shadow: 5px 0 0 5px rgb(94, 25, 20);
}

#bannerContainer {
  display: flex;
  justify-content: center;
}

#bannerText {
  padding-left: 5rem;

}



#companyText {
  color: rgb(226, 226, 226);
  padding-top: 5rem;
}

.products2Container {
  padding-top: 2rem;
  gap: 10rem;
  user-select: none;

}

.products2Container img {
  height: 20rem;
  width: 20rem;
  /* border: 4px solid;
  border-color: rgba(0, 0, 0, 0.555); */
  box-shadow: 0 5px 5px 1px black;
  border-radius: 10px;
}

.products2Content {
  display: flex;
  justify-content: center;
  gap: 50px;

}

.products2Text {
  position: absolute;
  padding-top: 2em;
  font-weight: 500;
  padding-left: 2rem;
}

.products2Title {
  position: absolute;
  text-decoration: underline;
  padding-left: 1rem;
}

.productsViewContainer {
  display: flex;
  flex-direction: column;
}

.productsViewContainer button {
  width: 10rem;
  height: 5rem;
  /* margin-top: 30rem; */
  position: absolute;
  margin-top: 35rem;
  margin-left: 45rem;
}

#productsViewTitle {
  display: inline-block;
}

.productsViewContent {
  display: flex;
  justify-content: center;
}

.productsViewContent p {
  padding-left: 2rem;
  /* border: 1px solid red; */
  height: 30rem;
  overflow: hidden;
}

.productsViewContainer img {
  max-width: 40rem;
  height: 40rem;
}

#productsViewText {
  width: 30rem;
  text-align: left;
}

.productsViewSuggested {
  transform: translateY(3rem);
}

.productsViewSuggestedImg {
  display: flex;
  justify-content: center;
  /* transform: translateY(5rem); */
  gap: 20px;
  /* border: 3px solid red; */
}

.productsViewSuggested img {
  height: 20rem;
}

.productsDisplay {
  background-color: rgba(255, 0, 0, 0.315);
  height: 40rem;
  width: 40rem;
}

#img-one {
  filter: hue-rotate(50deg);
}

#img-two {
  filter: hue-rotate(90deg);
}

#img-three {
  filter: hue-rotate(140deg);
}

.supportForm {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
  /* width: 20rem; */
  gap: 20px;
}

#supportText {
  resize: none;
}

.supportContainer {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  justify-content: center;
  gap: 20px;
}

.supportContainer div {
  height: 15rem;
  width: 25rem;
  border-radius: 10px;
  text-align: left;
  padding-left: 20px;
  border: 2px solid black;
  box-shadow: 0 2px 5px 0 black;
}

.supportContainer h2 {

}

.supportContainer h3 {

}

.supportContainer p {
  
}

#supportSubmit {
  width: 10rem;
  height: 3rem;
}

#supportSelect, #supportEmail, #supportFile, #supportText {
  width: 30rem;
  height: 2rem;
  border-radius: 5px;
}

#footer {
  display: flex;
  justify-content: center;
  gap: 20rem;
  transform: translateY(30rem);
  text-align: left;
  background: var(--gra-a);
  font-size: 1.2rem;
}

#footer ul {
  list-style: none;
}


#footer ul :nth-child(1) {
  font-weight: 700;
}

#mobileNavbar {
  /* display: none; */
  /* margin-top: 1rem; */
  transform: translateY(-1rem);
  opacity: 1;
  height: fit-content;
  width: fit-content;
  background-color: rgb(66, 26, 26);
  transition: all .5s ease-out;
}

.mobileIcon:active+#mobileNavbar {
  /* transform: translateX(-5rem); */
  opacity: 0;
}


@media (max-width: 700px) {


  .productsContainer {
    grid-template-columns: repeat(1, 20rem);
  }

  .products2Container {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .products2Content {
    flex-direction: column;
  }

  .spanTwo {
    grid-column: span 1;
  }

  #mobileNavbar {
    display: flex;
  }

  #mobileNavbar ul {
    flex-direction: column;
    text-align: left;
    padding-left: 1px;
  }

  #desktopNavbar {
    display: none;
  }

  .productsTitle {
    width: 15rem;
  }

  .productsText {
    width: 10rem;
    margin-top: 10rem;
    margin-left: 1px;
  }

  .mobileIcon {
    display: flex;
  }

  .productsViewContainer {}

  .productsViewContent {
    display: flex;
    flex-direction: column;

  }

  #productsViewText {
    /* border: 5px solid black; */
    width: 20rem;

  }

  .productsViewContent p {
    padding-left: 3rem;
  }

  .productsViewContent img {}

  .productsViewContainer button {
    position: relative;
    margin-top: auto;
    margin-left: 6rem;

  }

  .productsViewContainer img {}

  #bannerContainer {}

  #bannerImg-2 {
    display: none;
  }

  #footer {
    flex-direction: column;
    gap: 1px;
    padding-left: 5rem;
  }
}